@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgb(245, 195, 177);
  color: #fff;
  text-align: center;
  margin-top: 100px;
}

// .weather-container {
//   display: grid;
//   align-content: center;
//   width: 628px;
//   height: 301px;
//   left: 406px;
//   top: 569px;
//   background: #E6C4C4;
//   border-radius: 20px;
//   color: #111;
// }

// .card-img-top {
//   height: 60%;
// }

// .card {
//   background-color: gray;
//   color: #111;
// }
